@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-answer {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.underline-nav {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    color: white;
}
